# Ignore PyCharm files
.idea/
# Ignore data image
data/

# Ignore byte-compiled files
*.pyc
*pycache*

# Ignore data / checkpoint / log files
*examples
#examples/*/data
records_unet_alpha
#*[Dd]ata*/
*checkpoint*/
*[Ll]og*/

# Ignore .tfd files
*.tfd


*.ipynb
